.sp-container{
	padding: 20px;
}

.sp-editor {
	width: 100%;
	height: 500px;
	border: 1px solid #ccc;
	padding: 10px;
	font-size: 1.4em;
	overflow: auto;
	font-family: 'Manjari', 'Meera', sans;
}

.word.error:hover {
	background-color: ivory;
}

.word.error {
	text-decoration: underline wavy red;
}
