.section {
	padding-top: 3em;
}

.component {
	display: inline-block;
	border: 1px solid #ffb74d;
	border-left: 4px solid #ffb74d;
	border-radius: 2px;
	background-color: ivory;
	padding: 2px;
	margin: 2px;
	color: #263238;
	white-space: nowrap;
}

.root {
	display: block;
	padding: 0 5px;
	font-size: 1em;
	font-family: 'Manjari', 'Meera', sans-serif;
}

.tags {
	display: inline;
}

.tag {
	display: inline;
	background-color: #aed581;
	border-radius: 2px;
	padding: 5px;
	margin-left: 5px;
	font-family: monospace;
}

.tag::before {
	content: '🏷️';
}

.result {
	line-height: 2.5em;
}

.morphemes .chip {
	background-color: #aed581;
	font-family: monospace;
}

.morphemes .autocomplete-content img {
	display: none;
}

progress {
	width: 100%;
	height: 5px;
}
