{% extends 'layout.html' %}
{% block scripts %}
<script src="{{ url_for('static', filename='MorphemeChips.js') }}"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
{% block styles %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}
{% block body %} {% if error %}
<p class=error><strong>Error:</strong> {{ error }}{% endif %}
	<section class='section analyse row' id="analyser">
		<h5>Analysis</h5>
		<div class="input-field s12">
			<textarea id="text_to_analyse" placeholder='Text to analyse' class="materialize-textarea" name="text">{% if text %}{{text}}{% endif %}</textarea>
			<label for="text_to_analyse" >Text to analyse</label>
			<a id='analyse' class="waves-effect waves-light btn">Analyse</a>
		</div>
		<progress id="analresult-progress"></progress>
		<table class='analresult highlight col s12'>
			<thead>
				<tr>
					<th>Word</th>
					<th>Analysis</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</section>
	<div class="divider"></div>
	<section class='section generate row' id="generator">
		<h5>Generation</h5>
		<div class="chips chips-autocomplete morphemes"></div>

		<a id='generate' class="waves-effect waves-light btn">Generate</a>
		<progress id="genresult-progress"></progress>
		<div class="genresult col s12"></div>
	</section>
	{% endblock %}