{% extends 'layout.html' %}
{% block scripts %}
<script src="{{ url_for('static', filename='spellcheck.js') }}"></script>
{% endblock %}
{% block styles %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/spellcheck.css') }}">
{% endblock %}
{% block body %}
{% if error %}
<p class=error>
	<strong>Error:</strong> {{ error }}{% endif %}</p>
<section class='section row'>
	<h5>Spellchecker</h5>
	<div class="sp-container">
		<p>Please enter Malayalam text below. Spellcheck is enabled. Right click the misspelt words for suggestions.</p>
		<div class="sp-editor" spellcheck="false" contenteditable="true" contextmenu="suggestionsmenu">
			ഇന്ത്യയിൽ  കേരള സംസ്താനത്തിലും ലക്ഷദ്വീപിലും പുതുച്ചേരിയുടെ ഭാഗമായ മയ്യഴിയിലും സംസാരിക്കപ്പെടുന്ന ഭാഷയാണ് മലയാളം. എൻറെ മാതൃബാഷ മലയാളമാണ്.
		</div>

		<menu type="context" id="suggestionsmenu">
			<menuitem type="checkbox" label="Spellcheck" id="sp-toggle" onclick="toggleSpellcheck()" checked ></menuitem>
		</menu>
		<p><em>Note: Works only in Firefox browser</em></p>
	</div>
</section>

{% endblock %}